* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;

    --size-0: 1px;
    --size-1: 2px;
    --size-2: 4px;
    --size-3: 8px;
    --size-4: 16px;
    --size-5: 32px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.center {
    justify-content: center;
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.app-root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

